<?xml version="1.0" encoding="UTF-8"?>
<!-- Doc : http://logging.apache.org/log4j/2.x/manual/appenders.html#CustomDeleteOnRollover -->
<Configuration>
    <Properties>
        <Property name="baseDir">${bundle:application:application.basedir-log}${bundle:application:application.finalname}/${bundle:application:log4j2.logdir}</Property>
        <Property name="logFileName">${bundle:application:application.name}</Property>
        <Property name="errorFileName">${bundle:application:application.name}_error</Property>
        <Property name="debugFileName">${bundle:application:application.name}_debug</Property>

        <!-- Politique de gestion des fichiers -->
        <Property name="sizeTriggerPolicy">100 MB</Property>
        <Property name="deleteAgeFile">1d</Property>
        <Property name="keepMostRecentFile">1</Property>
        <Property name="keepMostRecentSize">10 MB</Property>
    </Properties>
    <Appenders>

        <!-- CONSOLE -->
        <!--
        <Console name="Console">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{dark,yellow}: %msg%n%throwable" />
        </Console>
        -->
        <Console name="Console">
            <PatternLayout disableAnsi="false"  pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=cyan, DEBUG=green bold, TRACE=blue}"/>
        </Console>

        <!-- LOG FILE -->
        <RollingFile name="LogFile"
                     fileName="${baseDir}/${logFileName}.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/${logFileName}_%d{dd-MM-yyyy}_%i.log.gz">
            <PatternLayout>
                <pattern>%5p %d{ISO8601} [%t][%x] %c - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- On exécute les stratégies de création de nouveaux fichiers et de suppresion :
                - Au démarrage de l'application
                - Si l'un des fichiers atteint ${sizeTriggerPolicy}
                - Si la date du filePattern nécessite un nouveau fichier -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sizeTriggerPolicy}" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/${logFileName}_*.log.gz">
                        <!-- On supprime les fichiers de plus de ${deleteAgeFile}
                         mais on garde les ${keepMostRecentFile} fichiers plus récent ou les ${keepMostRecentSize} plus récent-->
                        <IfLastModified age="${deleteAgeFile}" />
                        <IfAny>
                            <IfAccumulatedFileCount exceeds="${keepMostRecentFile}" />
                            <IfAccumulatedFileSize exceeds="${keepMostRecentSize}" />
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- ERROR FILE -->
        <RollingFile name="ErrorFile"
                     fileName="${baseDir}/${errorFileName}.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/${errorFileName}_%d{dd-MM-yyyy}_%i.log.gz">
            <!-- ErrorFile ne recoit que le niveau error -->
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%5p %d{ISO8601} [%t][%x] %c - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- On exécute les stratégies de création de nouveau fichier et de suppresion :
                - Au démarrage de l'application
                - Si l'un des fichiers atteint 10 MB
                - Si la date du filePattern nécessite un nouveau fichier -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sizeTriggerPolicy}" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}/" maxDepth="2">
                    <IfFileName glob="*/${errorFileName}_*.log.gz">
                        <!-- On supprime les fichiers de plus de ${deleteAgeFile}
                          mais on garde les ${keepMostRecentFile} fichier plus récent ou les ${keepMostRecentSize} plus récent-->
                        <IfLastModified age="${deleteAgeFile}" />
                        <IfAny>
                            <IfAccumulatedFileCount exceeds="${keepMostRecentFile}" />
                            <IfAccumulatedFileSize exceeds="${keepMostRecentSize}" />
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- DEBUG FILE -->
        <RollingFile name="DebugFile"
                     fileName="${baseDir}/${debugFileName}.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/${debugFileName}_%d{dd-MM-yyyy}_%i.log.gz">
            <!-- DebugFile ne recoit que le niveau debug et trace -->
            <LevelRangeFilter minLevel="DEBUG" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%5p %d{ISO8601} [%t][%x] %c - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- On exécute les stratégies de création de nouveau fichier et de suppresion :
                - Au démarrage de l'application
                - Si l'un des fichiers atteint 10 MB
                - Si la date du filePattern nécessite un nouveau fichier -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sizeTriggerPolicy}" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}/" maxDepth="2">
                    <IfFileName glob="*/${debugFileName}_*.log.gz">
                        <!-- On supprime les fichiers de plus de ${deleteAgeFile}
                         mais on garde les ${keepMostRecentFile} fichiers plus récent ou les ${keepMostRecentSize} plus récent-->
                        <IfLastModified age="${deleteAgeFile}" />
                        <IfAny>
                            <IfAccumulatedFileCount exceeds="${keepMostRecentFile}" />
                            <IfAccumulatedFileSize exceeds="${keepMostRecentSize}" />
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DebugFile" />
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="ErrorFile" />
        </Root>
    </Loggers>

</Configuration>